# Project exclude paths
/.gradle/
/build/
/common/build/
/common/build/classes/java/main/
/legacy/build/
/legacy/build/classes/java/main/
/modern/build/
/modern/build/classes/java/main/
/1_16_R3/build/
/1_16_R3/build/classes/java/main/
/.idea/
.DS_STORE
_MACOSX
